@import 'bootstrap/dist/css/bootstrap';

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #28a745;
  text-decoration: none;
}

.card-header {
  font-weight: bold;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('jar.png');
  background-size: 6em;
  height: 550px;
}

.jumbotron h1 {
  color: #28a745;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.btn-xlarge {
  font-size: 1.7em;
  background-color: black;
}

.article-meta-details {
  border-top: 1px solid #eaeaea;
  margin-top: 15px;
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding: 5px;
  text-align: center;
}

footer {
  margin-top: 35px;
  margin-bottom: 35px;
  // padding-top: 5px;
  // border-top: 1px solid #eaeaea;
  color: #777;
}

footer a:hover {
  color: #222;
  text-decoration: none;
}

footer small {
  float: left;
  padding-top: 15px;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  // margin-left: 15px;
}